<section id="bolos-tradicionais">
  <h2 class="text-center my-3 my-xl-5 font-titulo fs-1">Bolos Tradicionais</h2>

  <!-- <a
    href="https://wa.me/11963094998?text=Olá!%20Gostaria%20de%20fazer%20uma%20encomenda."
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Abrir conversa no WhatsApp"
  >
    <h3 class="text-center mb-4">Pessa aqui!</h3>
  </a> -->

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-t1"
        >
          <img
            class="card-img-top mx-auto d-block"
            src="../assets/bolos-tradicionais/chocolate.png"
            alt="Bolo de Chocolate"
            style="width: 9rem"
          />
          <div class="card-body">
            <h5 class="card-title font-titulo text-center fs-2">Chocolate</h5>
            <p class="card-text">
              Bolo de chocolate com cobertura de brigadeiro.
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-t2"
        >
          <img
            class="card-img-top mx-auto d-block"
            src="../assets/bolos-tradicionais/churros.png"
            alt="Bolo de Churros"
            style="width: 9rem"
          />
          <div class="card-body">
            <h5 class="card-title font-titulo text-center fs-2">Churros</h5>
            <p class="card-text">
              Bolo de canela com cobertura de doce de leite.
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-t3"
        >
          <img
            class="card-img-top mx-auto d-block"
            src="../assets/bolos-tradicionais/maca-canela.png"
            alt="Bolo de Maçã com Canela"
            style="width: 9rem"
          />
          <div class="card-body">
            <h5 class="card-title font-titulo text-center fs-2">
              Maçã com Canela
            </h5>
            <p class="card-text">
              Bolo de Canela e Maçã com cobertura de açúcar e canela.
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-t4"
        >
          <img
            class="card-img-top mx-auto d-block"
            src="../assets/bolos-tradicionais/limao.png"
            alt="Bolo de Limão"
            style="width: 9rem"
          />
          <div class="card-body">
            <h5 class="card-title font-titulo text-center fs-2">Limão</h5>
            <p class="card-text">
              Bolo de limão com cobertura de mousse de limão
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-t5"
        >
          <img
            class="card-img-top mx-auto d-block"
            src="../assets/bolos-tradicionais/pacoca.png"
            alt="Bolo de Paçoca"
            style="width: 9rem"
          />
          <div class="card-body">
            <h5 class="card-title font-titulo text-center fs-2">Paçoca</h5>
            <p class="card-text">
              Bolo de paçoca com cobertura de brigadeiro de paçoca
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-t6"
        >
          <img
            class="card-img-top mx-auto d-block"
            src="../assets/bolos-tradicionais/cocada.png"
            alt="Bolo de Cocada"
            style="width: 9rem"
          />
          <div class="card-body">
            <h5 class="card-title font-titulo text-center fs-2">Cocada</h5>
            <p class="card-text">Bolo de coco com cobertura de creme e coco</p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-t7"
        >
          <img
            class="card-img-top mx-auto d-block"
            src="../assets/bolos-tradicionais/cenoura-chocolate.png"
            alt="Bolo de Cenoura com Chocolate"
            style="width: 9rem"
          />
          <div class="card-body">
            <h5 class="card-title font-titulo text-center fs-2">
              Cenoura com Chocolate
            </h5>
            <p class="card-text">
              Bolo de cenoura com cobertura de brigadeiro.
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
