<section id="bolos-especiais">
  <h2 class="text-center my-3 my-xl-5 font-titulo fs-1">Bolos Especiais</h2>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-e1"
        >
          <img
            class="card-img-top mx-auto d-block"
            src="../assets/bolos-especiais/pao-de-mel.png"
            alt="Bolo de Pão de Mel"
            style="width: 9rem"
          />
          <div class="card-body">
            <h5 class="card-title font-titulo text-center fs-2">Pão de Mel</h5>
            <p class="card-text">
              Bolo Pão de Mel com cobertura de doce de Leite.
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-e2"
        >
          <img
            class="card-img-top mx-auto d-block"
            src="../assets/bolos-especiais/ninho.png"
            alt="Bolo de Ninho"
            style="width: 9rem"
          />
          <div class="card-body">
            <h5 class="card-title font-titulo text-center fs-2">Ninho</h5>
            <p class="card-text">
              Bolo Ninho com cobertura de Brigadeiro de Ninho.
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-e3"
        >
          <img
            class="card-img-top mx-auto d-block"
            src="../assets/bolos-especiais/ab.png"
            alt="Bolo de Choconinho"
            style="width: 9rem"
          />
          <div class="card-body">
            <h5 class="card-title font-titulo text-center fs-2">Choconinho</h5>
            <p class="card-text">
              Bolo de Chocolate com cobertura de Brigadeiro de Ninho.
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-e4"
        >
          <img
            class="card-img-top mx-auto d-block"
            src="../assets/bolos-especiais/prestigio.png"
            alt="Bolo de Prestigio"
            style="width: 9rem"
          />
          <div class="card-body">
            <h5 class="card-title font-titulo text-center fs-2">Prestigio</h5>
            <p class="card-text">
              Bolo de Chocolate com cobertura de Beijinho com Coco.
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-e5"
        >
          <img
            class="card-img-top mx-auto d-block"
            src="../assets/bolos-especiais/sensacao.png"
            alt="Bolo de Sensação"
            style="width: 9rem"
          />
          <div class="card-body">
            <h5 class="card-title font-titulo text-center fs-2">Sensação</h5>
            <p class="card-text">
              Bolo de Chocolate com cobertura de Brigadeiro de Morango.
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-e6"
        >
          <img
            class="card-img-top mx-auto d-block"
            src="../assets/bolos-especiais/coco.png"
            alt="Bolo de Coco"
            style="width: 9rem"
          />
          <div class="card-body">
            <h5 class="card-title font-titulo text-center fs-2">Coco</h5>
            <p class="card-text">Bolo de Coco com cobertura de Coco ralado.</p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
