<section class="pt-3">
  <div class="container">
    <h2 class="text-center font-titulo fs-3 fw-bold mt-4">Nossos Contatos</h2>

    <div class="row justify-content-center px-2 py-4">
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <a
          href="#"
          target=""
          rel="noopener noreferrer"
          class="text-decoration-none"
          aria-label="Abrir WhatsApp de Lar do Benjamim"
        >
          <div class="card clickable-card">
            <div class="card-body">
              <div
                class="d-flex justify-content-center align-items-center gap-2 mb-3 card-titulo"
              >
                <i class="bi bi-whatsapp fs-2"></i>
                <span class="fw-bold fs-5 mb-0">WhatsApp</span>
              </div>
              <hr />
              <p class="text-dark">
                Converse direto com nossa equipe pelo WhatsApp.
              </p>
              <p class="text-dark">
                Estamos disponíveis para tirar dúvidas, receber doações ou
                orientações sobre voluntariado.
              </p>
              <div class="text-center mt-3">
                <span class="btn saiba-mais-botao">Acesse</span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <a
          href="#"
          target=""
          rel="noopener noreferrer"
          class="text-decoration-none"
          aria-label="Fazer ligação para Lar do Benjamim"
        >
          <div class="card clickable-card">
            <div class="card-body">
              <div
                class="d-flex justify-content-center align-items-center gap-2 mb-3 card-titulo"
              >
                <i class="bi bi-telephone fs-2"></i>
                <span class="fw-bold fs-5 mb-0">Telefone</span>
              </div>
              <hr />
              <p class="text-dark">
                Prefere ligar? <br />Você também pode falar conosco por telefone
                em horário comercial.
              </p>
              <p class="text-dark">Estamos prontos para ouvir e acolher.</p>
              <div class="text-center mt-3">
                <span class="btn saiba-mais-botao">Ligar</span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <a
          href="#"
          target=""
          rel="noopener noreferrer"
          class="text-decoration-none"
          aria-label="Enviar e-mail para Lar do Benjamim"
        >
          <div class="card clickable-card">
            <div class="card-body">
              <div
                class="d-flex justify-content-center align-items-center gap-2 mb-3 card-titulo"
              >
                <i class="bi bi-envelope-at fs-2"></i>
                <span class="fw-bold fs-5 mb-0">E-Mail</span>
              </div>
              <hr />
              <p class="text-dark">Envie sua mensagem por e-mail.</p>
              <p class="text-dark">
                Respondemos geralmente em até 48h com carinho e atenção.<br /><br /><br />
              </p>
              <div class="text-center mt-3">
                <span class="btn saiba-mais-botao">Enviar</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
