<section class="my-3 py-3">
  <h2 class="text-center font-titulo fs-1 fw-bold">
    Terapias que acolhem, fortalecem e inspiram futuros
  </h2>
  <p class="text-center mb-4 px-2 fw-bold">
    Cuidando com amor, promovendo desenvolvimento e construindo caminhos de
    esperança para crianças e suas famílias.
  </p>

  <div class="container">
    <div class="row justify-content-center px-2">
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-s1"
        >
          <img
            class="card-img-top mx-auto mt-3 d-block"
            src="../assets/imagens/img-servico-1.png"
            alt="Serviço 1"
            style="width: 16rem"
          />
          <div class="card-body">
            <!-- <h5 class="card-title font-titulo text-center fs-2">Serviço 1</h5> -->
            <p class="card-text">
              Terapias complementares para crianças e adolescentes<br /><br />
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-s2"
        >
          <img
            class="card-img-top mx-auto mt-3 d-block"
            src="../assets/imagens/img-servico-2.png"
            alt="Serviço 2"
            style="width: 16rem"
          />
          <div class="card-body">
            <!-- <h5 class="card-title font-titulo text-center fs-2">Serviço 2</h5> -->
            <p class="card-text">
              Atendimento psicológico e massoterapia para as mães dos
              beneficiários
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-s3"
        >
          <img
            class="card-img-top mx-auto mt-3 d-block"
            src="../assets/imagens/img-servico-3.png"
            alt="Serviço 3"
            style="width: 16rem"
          />
          <div class="card-body">
            <!-- <h5 class="card-title font-titulo text-center fs-2">Serviço 3</h5> -->
            <p class="card-text">
              Terapia em grupo para os demais integrantes do núcleo familiar<br /><br />
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
