<section class="py-0">
  <div class="container">
    <h2 class="text-center font-titulo fs-3 fw-bold">Nossas Redes</h2>

    <div class="row justify-content-center px-2 py-4">
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card" role="button" data-bs-toggle="modal">
          <div class="card-body">
            <div
              class="d-flex justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <i class="bi bi-instagram fs-2"></i>
              <span class="fw-bold fs-5 mb-0">Instagram</span>
            </div>
            <hr />
            <p class="card-text">
              Acompanhe nosso dia a dia, atividades com as crianças, campanhas e
              histórias que inspiram.
            </p>
            <div class="text-center mt-3">
              <a
                href="https://www.instagram.com/lardobenjamim2023?igsh=MTA0dHIzb2k3Z3ZlYw=="
                target="_blank"
                rel="noopener noreferrer"
                class="btn saiba-mais-botao"
                aria-label="Abrir Instagram de Lar do Benjamim"
              >
                Acesse
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card" role="button" data-bs-toggle="modal">
          <div class="card-body">
            <div
              class="d-flex justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <i class="bbi bi-facebook fs-2"></i>
              <span class="fw-bold fs-5 mb-0">facebook</span>
            </div>
            <hr />
            <p class="card-text">
              Fique por dentro das ações da ONG, eventos e atualizações
              importantes.<br /><br />
            </p>
            <div class="text-center mt-3">
              <a
                href="#"
                target=""
                rel="noopener noreferrer"
                class="btn saiba-mais-botao"
                aria-label="Abrir Facebook de Lar do Benjamim"
              >
                Acesse
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card" role="button" data-bs-toggle="modal">
          <div class="card-body">
            <div
              class="d-flex justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <i class="bi bi-youtube fs-2"></i>
              <span class="fw-bold fs-5 mb-0">YouTube</span>
            </div>
            <hr />
            <p>
              Assista vídeos das nossas atividades, campanhas e depoimentos.
              Nosso canal mostra o impacto de cada gesto.
            </p>
            <div class="text-center mt-3">
              <a
                href="https://youtube.com/@relatodemaesatipicas?si=E0V75BmDv1xUAZlT"
                target="_blank"
                rel="noopener noreferrer"
                class="btn saiba-mais-botao"
                aria-label="Abrir YouTube de Lar do Benjamim"
              >
                Acesse
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
