<section class="pt-3">
  <div class="container">
    <h2 class="text-center font-titulo fs-3 fw-bold mt-4">Nossos Contatos</h2>

    <div class="row justify-content-center px-2 py-4">
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card" role="button" data-bs-toggle="modal">
          <div class="card-body">
            <div
              class="d-flex justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <i class="bi bi-whatsapp fs-2"></i>
              <span class="fw-bold fs-5 mb-0">(85) 98806 - 5112</span>
            </div>

            <p class="card-text">
              Converse direto com nossa equipe pelo WhatsApp.
            </p>
            <p>
              Estamos disponíveis para tirar dúvidas, receber doações ou
              orientações sobre voluntariado.
            </p>
            <div class="text-center mt-3">
              <a
                href="#"
                target=""
                rel="noopener noreferrer"
                class="btn saiba-mais-botao"
                aria-label="Abrir conversa no WhatsApp com Lar do Benjamim"
              >
                WhatsApp
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card" role="button" data-bs-toggle="modal">
          <div class="card-body">
            <div
              class="d-flex justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <i class="bi bi-telephone fs-2"></i>
              <span class="fw-bold fs-5 mb-0">(xx) xxxx - xxxx</span>
            </div>

            <p class="card-text">
              Prefere ligar? <br />Você também pode falar conosco por telefone
              em horário comercial.
            </p>
            <p>Estamos prontos para ouvir e acolher.</p>
            <div class="text-center mt-3">
              <a
                href="#"
                target=""
                rel="noopener noreferrer"
                class="btn saiba-mais-botao"
                aria-label="Abrir conversa no telefonica com Lar do Benjamim"
              >
                Telefone
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card" role="button" data-bs-toggle="modal">
          <div class="card-body">
            <div
              class="d-flex justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <i class="bi bi-envelope-at fs-2"></i>
              <span class="fw-bold fs-5 mb-0">contato@google.com</span>
            </div>

            <p class="card-text">Envie sua mensagem por e-mail.</p>
            <p>
              Respondemos geralmente em até 48h com carinho e atenção.<br /><br /><br />
            </p>
            <div class="text-center mt-3">
              <a
                href="#"
                target=""
                rel="noopener noreferrer"
                class="btn saiba-mais-botao"
                aria-label="Enviar um e-mail para Lar do Benjamim"
              >
                E-mail
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
