<section class="my-3 py-3 px-3">
  <h2 class="text-center font-titulo fs-2 fw-bold">
    Terapias que acolhem, fortalecem e inspiram futuros
  </h2>
  <p class="text-center mb-4 px-2 fw-bold">
    Cuidando com amor, promovendo desenvolvimento e construindo caminhos de
    esperança para crianças e suas famílias.
  </p>

  <div class="container">
    <div class="row justify-content-center px-2">
      <!-- Card 1 -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-servico-1"
        >
          <img
            class="card-img mx-auto p-3 d-block"
            src="../assets/imagens/card-servico-1.webp"
            alt="Serviço 1"
          />
          <div class="card-body">
            <p class="card-text">
              Intervenções multidisciplinares para crianças e adolescentes<br /><br />
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-servico-2"
        >
          <img
            class="card-img mx-auto p-3 d-block"
            src="../assets/imagens/card-servico-2.webp"
            alt="Serviço 2"
          />
          <div class="card-body">
            <p class="card-text">
              Atendimento psicológico e massoterapia para as mães dos
              beneficiários
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-servico-3"
        >
          <img
            class="card-img mx-auto p-3 d-block"
            src="../assets/imagens/card-servico-3.webp"
            alt="Serviço 3"
          />
          <div class="card-body">
            <p class="card-text">
              Terapia em grupo para os demais integrantes do núcleo familiar<br /><br />
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
