<section class="px-2">
  <h2 class="text-center font-titulo fs-2 fw-bold">
    Histórias de Transformação
  </h2>
  <p class="text-center mb-4 fw-bold">
    Depoimentos reais de famílias que encontraram acolhimento, cuidado e
    esperança no Lar do Benjamim.
  </p>

  <div class="container">
    <div class="row justify-content-center px-2">
      <!-- Card 1 -->
      <div class="col-6 col-lg-3 mb-4 px-1 px-md-3 card-videos">
        <div
          class="card clickable-card card-videos"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-video-1"
        >
          <img
            class="card-img mx-auto mb-3 d-block"
            src="../assets/imagens/iphone-frame-1.webp"
            alt="Video 1"
            loading="lazy"
            style="width: 15rem"
          />
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-6 col-lg-3 mb-4 px-1 px-md-3 card-videos">
        <div
          class="card clickable-card card-videos"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-video-2"
        >
          <img
            class="card-img mx-auto mt-3 d-block"
            src="../assets/imagens/iphone-frame-2.webp"
            alt="Video 2"
            loading="lazy"
            style="width: 15rem"
          />
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-6 col-lg-3 mb-4 px-1 px-md-3 card-videos">
        <div
          class="card clickable-card card-videos"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-video-3"
        >
          <img
            class="card-img mx-auto mb-3 d-block"
            src="../assets/imagens/iphone-frame-3.webp"
            alt="Video 3"
            loading="lazy"
            style="width: 15rem"
          />
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-6 col-lg-3 mb-4 px-1 px-md-3 card-videos">
        <div
          class="card clickable-card card-videos"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-video-4"
        >
          <img
            class="card-img mx-auto mt-3 d-block"
            src="../assets/imagens/iphone-frame-4.webp"
            alt="Video 4"
            loading="lazy"
            style="width: 15rem"
          />
        </div>
      </div>
    </div>
  </div>
</section>
