<section class="py-0">
  <div class="container">
    <h2 class="text-center font-titulo fs-3 fw-bold">Nossas Redes</h2>

    <div class="row justify-content-center px-2 py-4">
      <!-- Card Instagram -->
      <div class="col-12 col-md-6 col-lg-3 mb-4 px-1 px-md-3">
        <a
          href="https://www.instagram.com/lardobenjamimoficial/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-decoration-none"
          aria-label="Abrir Instagram de Lar do Benjamim"
        >
          <div class="card clickable-card">
            <div class="card-body">
              <div
                class="d-flex justify-content-center align-items-center gap-2 mb-3 card-titulo"
              >
                <i class="bi bi-instagram fs-2"></i>
                <span class="fw-bold fs-5 mb-0">Instagram</span>
              </div>
              <hr />
              <p class="text-dark">
                Acompanhe nosso dia a dia, atividades com as crianças, campanhas
                e histórias que inspiram.
              </p>
              <div class="text-center mt-3">
                <span class="btn saiba-mais-botao">Acesse</span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Card Facebook -->
      <div class="col-12 col-md-6 col-lg-3 mb-4 px-1 px-md-3">
        <a
          href="https://www.facebook.com/share/1K6NX2WGoA/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-decoration-none"
          aria-label="Abrir Facebook de Lar do Benjamim"
        >
          <div class="card clickable-card">
            <div class="card-body">
              <div
                class="d-flex justify-content-center align-items-center gap-2 mb-3 card-titulo"
              >
                <i class="bbi bi-facebook fs-2"></i>
                <span class="fw-bold fs-5 mb-0">facebook</span>
              </div>
              <hr />
              <p class="text-dark">
                Fique por dentro das ações da ONG, eventos e atualizações
                importantes.<br /><br />
              </p>
              <div class="text-center mt-3">
                <span class="btn saiba-mais-botao">Acesse</span>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Card YouTube -->
      <div class="col-12 col-md-6 col-lg-3 mb-4 px-1 px-md-3">
        <a
          href="https://youtube.com/@relatodemaesatipicas?si=E0V75BmDv1xUAZlT"
          target="_blank"
          rel="noopener noreferrer"
          class="text-decoration-none"
          aria-label="Abrir YouTube de Lar do Benjamim"
        >
          <div class="card clickable-card">
            <div class="card-body">
              <div
                class="d-flex justify-content-center align-items-center gap-2 mb-3 card-titulo"
              >
                <i class="bi bi-youtube fs-2"></i>
                <span class="fw-bold fs-5 mb-0">YouTube</span>
              </div>
              <hr />
              <p class="text-dark">
                Assista vídeos das nossas atividades, campanhas e depoimentos.
                Nosso canal mostra o impacto de cada gesto.
              </p>
              <div class="text-center mt-3">
                <span class="btn saiba-mais-botao">Acesse</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
