<section class="container mt-5 px-md-5 container-section">
  <h2 class="text-center font-titulo fs-2 fw-bold my-4">
    Doe Seu Tempo, Talento ou Recursos
  </h2>

  <div class="container">
    <div class="row justify-content-center px-2">
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-doador-1"
        >
          <img
            class="card-img-top mx-auto mt-3 d-block"
            src="../assets/imagens/card-voluntario-1.png"
            alt="Serviço 1"
            style="width: 15rem"
          />
          <div class="card-body">
            <h5 class="card-title font-titulo text-center fs-5">
              Compre e Apoie
            </h5>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-doador-2"
        >
          <img
            class="card-img-top mx-auto mt-3 d-block"
            src="../assets/imagens/card-voluntario-2.png"
            alt="Serviço 2"
            style="width: 15rem"
          />
          <div class="card-body">
            <h5 class="card-title font-titulo text-center fs-5">
              Doe Objetos e Materiais
            </h5>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-doador-3"
        >
          <img
            class="card-img-top mx-auto mt-3 d-block"
            src="../assets/imagens/card-voluntario-3.png"
            alt="Serviço 3"
            style="width: 15rem"
          />
          <div class="card-body">
            <h5 class="card-title font-titulo text-center fs-5">
              Compartilhe seu Talento
            </h5>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
