<section class="py-0">
  <div class="container">
    <h2 class="text-center font-titulo fs-3 fw-bold">
      Conheça cada um de nós!
    </h2>

    <div class="row justify-content-center px-2 py-4">
      <!-- Suzana Santos Sousa de Matos -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/suzana.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Suzana S. Sousa de Matos</span>
            </div>
            <hr />
            <p class="text-dark">Gestão <br />Engenharia de Software</p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/engsuzanamatos/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href=""
                  target=""
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Alberto Lima -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/alberto.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Alberto Lima da Silva</span>
            </div>
            <hr />
            <p class="text-dark">
              Desenvolvimento <br />Engenharia de Software
            </p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="mb-5" />
      <!-- Alridenio Marques -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Alridenio Marques Xavier</span>
            </div>
            <hr />
            <p class="text-dark">Pesquisa <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href=""
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href=""
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Alvaro Lemos -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Alvaro Lemos De Melo</span>
            </div>
            <hr />
            <p class="text-dark">
              Desenvolvimento <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Amanda Sampaio -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Amanda S. Rodrigues</span>
            </div>
            <hr />
            <p class="text-dark">
              Documentação<br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Antônio Paulo -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Antônio G. S. Ribeiro</span>
            </div>
            <hr />
            <p class="text-dark">
              Documentação <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Aylan de Sousa -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Aylan de Sousa Moura</span>
            </div>
            <hr />
            <p class="text-dark">Desing <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Bradeley V. S. -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Bradeley V. S. Matias</span>
            </div>
            <hr />
            <p class="text-dark">Pesquisa <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Cicero D. Marques -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Cicero D. M. de Sousa</span>
            </div>
            <hr />
            <p class="text-dark">
              Documentação <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Diogo Moreira -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Diogo Moreira de Araújo</span>
            </div>
            <hr />
            <p class="text-dark">
              Desenvolvimento <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Erick H. Almeida -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Erick H. Almeida da Rocha</span>
            </div>
            <hr />
            <p class="text-dark">Gestão <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Everton Rodrigues -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Everton R. de Alencar</span>
            </div>
            <hr />
            <p class="text-dark">
              Documentação <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Francisco D. de Sousa -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Francisco D. S. Santos</span>
            </div>
            <hr />
            <p class="text-dark">Pesquisa <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Francisco D. Gomes -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Francisco D. Gomes Viana</span>
            </div>
            <hr />
            <p class="text-dark">Pesquisa <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Jean Rodrigues -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Jean Rodrigues Chaves</span>
            </div>
            <hr />
            <p class="text-dark">Desing <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Jezrael Bernardo  -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Jezrael Bernardo </span>
            </div>
            <hr />
            <p class="text-dark">Gestão <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- José R. F. da Silva -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">José R. F. da Silva</span>
            </div>
            <hr />
            <p class="text-dark">Pesquisa <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Laura I. Lima -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Laura I. Lima Assunção</span>
            </div>
            <hr />
            <p class="text-dark">
              Desenvolvimento <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Leonardo R. dos Santos -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Leonardo R. dos Santos</span>
            </div>
            <hr />
            <p class="text-dark">Desing <br />Engenharia de Software</p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Luan de Oliveira -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Luan de Oliveira Souza</span>
            </div>
            <hr />
            <p class="text-dark">
              Documentação <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Maicon Felipe Reolon -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Maicon Felipe Reolon</span>
            </div>
            <hr />
            <p class="text-dark">Gestão <br />Engenharia de Software</p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Marcos Pablo Silva -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Marcos Pablo Silva</span>
            </div>
            <hr />
            <p class="text-dark">
              Desenvolvimento <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Marlon da Silva Bezerra -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Marlon da Silva Bezerra</span>
            </div>
            <hr />
            <p class="text-dark">
              Desenvolvimento <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pedro Da Silva Franco -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Pedro Da Silva Franco</span>
            </div>
            <hr />
            <p class="text-dark">
              Documentação <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Sérgio Nogueira -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Sérgio Nogueira</span>
            </div>
            <hr />
            <p class="text-dark">Pesquisa <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--  Víctor Cesar da Rocha Bastos -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0"> Víctor C. da Rocha Bastos</span>
            </div>
            <hr />
            <p class="text-dark">Desing <br />Engenharia de Software</p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Vinícius de Alencar dos Reis -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Vinícius A. dos Reis</span>
            </div>
            <hr />
            <p class="text-dark">Desing <br />Engenharia de Software</p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
