<section class="py-0">
  <div class="container">
    <h2 class="text-center font-titulo fs-3 fw-bold">
      Conheça cada um de nós!
    </h2>

    <div class="row justify-content-center py-4">
      <!-- Alberto Lima da Silva -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://github.com/albertobtlima.png"
                alt="Alberto Lima da Silva"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Alberto Lima da Silva</span>
            </div>
            <hr />
            <p class="text-dark">
              Desenvolvimento <br />Engenharia de Software
            </p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-github pe-2"></i>GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Alridenio Marques Xavier -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://media.licdn.com/dms/image/v2/C4D03AQHGZ4UFJMFp1g/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1656758669081?e=1756339200&v=beta&t=XdPhizF1FbJBzBr5xOBFBTv96Odjsr9x5HdGj8PI7Nw"
                alt="Alridenio Marques Xavier"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Alridenio Marques Xavier</span>
            </div>
            <hr />
            <p class="text-dark">Pesquisa <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alridenio-marques/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Alvaro Lemos De Melo -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://media.licdn.com/dms/image/v2/D5603AQGLDuvkGstE1Q/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1709231828475?e=1756339200&v=beta&t=gs0P5LdRdui3GoFs5LQy1tj3qUZDh4nsjcn_VbjGpGQ"
                alt="Alvaro Lemos De Melo"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Alvaro Lemos De Melo</span>
            </div>
            <hr />
            <p class="text-dark">
              Desenvolvimento <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alvaro-lemos-de-melo-47776a2b0/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/Alvaro052005"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-github pe-2"></i>GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Amanda Sampaio Rodrigues -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/imagens/emoji.webp"
                alt="Amanda Sampaio Rodrigues"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Amanda S. Rodrigues</span>
            </div>
            <hr />
            <p class="text-dark">
              Documentação <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/amanda-sampaio-794a50229/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Antônio Paulo Gutyerre S. Ribeiro -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://media.licdn.com/dms/image/v2/D4E03AQHhLu6HB3lP3Q/profile-displayphoto-scale_400_400/B4EZfCiElkG4Ag-/0/1751315401848?e=1756339200&v=beta&t=qWu_vhHWu4Ka3BF4RSC_cWg44C_J2TKh0Dweuce5nt4"
                alt="Antônio Paulo Gutyerre S. Ribeiro"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Antônio P. G. S. Ribeiro</span>
            </div>
            <hr />
            <p class="text-dark">
              Documentação <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/paulo-gutyerrez-575793372/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Aylan de Sousa Moura -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://media.licdn.com/dms/image/v2/D4D35AQEDVMBJ7jy4FQ/profile-framedphoto-shrink_400_400/B4DZdGY1FTHMAc-/0/1749232603874?e=1754316000&v=beta&t=Ij5YUuQgN2nMNRR7v601DhB4mtQLCaC1L_ulU7GBG20"
                alt="Aylan de Sousa Moura"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Aylan de Sousa Moura</span>
            </div>
            <hr />
            <p class="text-dark">Desing <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/aylan-moura/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/Aylan-Moura"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-github pe-2"></i>GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Bradeley V. S. Matias -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://media.licdn.com/dms/image/v2/D4D35AQF6APzn5ZrrDw/profile-framedphoto-shrink_400_400/B4DZe5R847GkAc-/0/1751160180568?e=1754316000&v=beta&t=BCBheSJqaVpX_DDFDC0_bZiHyKZdZrxOBmOwPs5NMv8"
                alt="Bradeley V. S. Matias"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Bradeley V. S. Matias</span>
            </div>
            <hr />
            <p class="text-dark">Pesquisa <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/bradeley-victor-705016193/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Cicero D. M. de Sousa -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://media.licdn.com/dms/image/v2/D4D03AQG13AwmaifTrg/profile-displayphoto-scale_400_400/B4DZe6FCvkGUAg-/0/1751173576630?e=1756339200&v=beta&t=mXPP0AYeW05BFJWoPoFaeWTO4QrKKW-Ox37Tz33q1t8"
                alt="Cicero D. M. de Sousa"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Cicero D. M. de Sousa</span>
            </div>
            <hr />
            <p class="text-dark">
              Documentação <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/daniel-sousa-a97003273/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/DanielMarquesk2"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-github pe-2"></i>GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Diogo Moreira de Araújo -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://media.licdn.com/dms/image/v2/D4D03AQGztdWH4jygYA/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1669911764017?e=1756339200&v=beta&t=lrkaJ4F2JRS5ktfdbOMXNXZWQIsFfwprM2rz7CpBHDE"
                alt="Diogo Moreira de Araújo"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Diogo Moreira de Araújo</span>
            </div>
            <hr />
            <p class="text-dark">
              Desenvolvimento <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/diogo-moreira-198818258/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Erick H. Almeida da Rocha -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/imagens/emoji.webp"
                alt="Erick H. Almeida da Rocha"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Erick H. Almeida da Rocha</span>
            </div>
            <hr />
            <p class="text-dark">Gestão <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href=""
                  target=""
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Everton R. de Alencar -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/imagens/emoji.webp"
                alt="Everton R. de Alencar"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Everton R. de Alencar</span>
            </div>
            <hr />
            <p class="text-dark">
              Documentação <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href=""
                  target=""
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Francisco D. S. Santos -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://github.com/davidsousa2025.png"
                alt="Francisco D. S. Santos"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Francisco D. S. Santos</span>
            </div>
            <hr />
            <p class="text-dark">Pesquisa <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/david-sousa-67307923b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/davidsousa2025"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-github pe-2"></i>GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Francisco D. Gomes Viana -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://media.licdn.com/dms/image/v2/D4D03AQFdGPN24jwmew/profile-displayphoto-scale_400_400/B4DZe.S1PRGgAg-/0/1751244297760?e=1756339200&v=beta&t=K75EKSYQXfDq_YKIE5wfA2aOvCe3_GH12w-ovMUKJ2Y"
                alt="Francisco D. Gomes Viana"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Francisco D. Gomes Viana</span>
            </div>
            <hr />
            <p class="text-dark">Pesquisa <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/diogo-viana-b30647372/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Jean Rodrigues Chaves -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://media.licdn.com/dms/image/v2/D4E03AQHYOyXD8AWeRA/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1676513107320?e=1756339200&v=beta&t=ALywfEHpO6LVUIkEnC27im19_ossuvkjGNeKrh54Qjo"
                alt="Jean Rodrigues Chaves"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Jean Rodrigues Chaves</span>
            </div>
            <hr />
            <p class="text-dark">Desing <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/jean-chaves-8b7658261/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Jezrael Bernardo -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://media.licdn.com/dms/image/v2/D4D03AQE44TD2FxfvTA/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1706574278001?e=1756339200&v=beta&t=eGTmKvvY627WuRpgBfPcsL2KrfCNQz49NDrnmN8CuH8"
                alt="Jezrael Bernardo"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Jezrael Bernardo</span>
            </div>
            <hr />
            <p class="text-dark">Gestão <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/jezrael-bernardo-a940522a2/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- José R. F. da Silva -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://media.licdn.com/dms/image/v2/D5635AQEj2jZifeTlHw/profile-framedphoto-shrink_400_400/profile-framedphoto-shrink_400_400/0/1734617684635?e=1754316000&v=beta&t=LAmE0qI7C92DbIwCsiBp5jU2Li3mxI9SG4wVPARL084"
                alt="José R. F. da Silva"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">José R. F. da Silva</span>
            </div>
            <hr />
            <p class="text-dark">Pesquisa <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/jos%C3%A9-ricardo-87467b342/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Laura I. Lima Assunção -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://github.com/lauraain.png"
                alt="Laura I. Lima Assunção"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Laura I. Lima Assunção</span>
            </div>
            <hr />
            <p class="text-dark">
              Desenvolvimento <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href=""
                  target=""
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/lauraain"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-github pe-2"></i>GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Leonardo R. dos Santos -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://media.licdn.com/dms/image/v2/D4D03AQHvn0cYs-UVhQ/profile-displayphoto-shrink_400_400/B4DZdXi9QwGgAg-/0/1749520471558?e=1756339200&v=beta&t=qRoJoy5C0yyAH_ca_xr1CnBuFqmnyjjphAjcCUKeuBA"
                alt="Leonardo R. dos Santos"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Leonardo R. dos Santos</span>
            </div>
            <hr />
            <p class="text-dark">Desing <br />Engenharia de Software</p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/leonardo-rodrigues-248907206/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Luan de Oliveira Souza -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://media.licdn.com/dms/image/v2/D4D03AQGu9eLtvOPDrw/profile-displayphoto-scale_400_400/B4DZe.KQWaGYAg-/0/1751242049409?e=1756339200&v=beta&t=OnErHWyVSXcR7bDkXCleOPPy1FjHgrppR6u837QO7h8"
                alt="Luan de Oliveira Souza"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Luan de Oliveira Souza</span>
            </div>
            <hr />
            <p class="text-dark">
              Documentação <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/luannsouzaa/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Maicon Felipe Reolon -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://github.com/maicon-felipe.png"
                alt="Maicon Felipe Reolon"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Maicon Felipe Reolon</span>
            </div>
            <hr />
            <p class="text-dark">Gestão <br />Engenharia de Software</p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/maicon-felipe-reolon/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/maicon-felipe"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-github pe-2"></i>GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Marcos Pablo Silva -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://media.licdn.com/dms/image/v2/D4E03AQHDYsC7-VbegQ/profile-displayphoto-shrink_400_400/B4EZZYulK.HkAk-/0/1745245328571?e=1756339200&v=beta&t=bpGwdtbTzqdmBIN-YSlBeyW62VDHO_-MKHoxabstGC8"
                alt="Marcos Pablo Silva"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Marcos Pablo Silva</span>
            </div>
            <hr />
            <p class="text-dark">
              Desenvolvimento <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/marcospablofull/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Marlon da Silva Bezerra -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://github.com/Marl0nBezerra.png"
                alt="Marlon da Silva Bezerra"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Marlon da Silva Bezerra</span>
            </div>
            <hr />
            <p class="text-dark">
              Desenvolvimento <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/marlon-bezerra/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/Marl0nBezerra"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-github pe-2"></i>GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pedro Da Silva Franco -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://media.licdn.com/dms/image/v2/D4D03AQHGi1kZPLR_qg/profile-displayphoto-shrink_400_400/B4DZarXaF0GwAg-/0/1746631762660?e=1756339200&v=beta&t=EnzHDrgyZYYB0jkS3FmDZUA8eyZOu0pBnyWxV0Pck64"
                alt="Pedro Da Silva Franco"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Pedro Da Silva Franco</span>
            </div>
            <hr />
            <p class="text-dark">
              Documentação <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/pedro-da-silva-franco-dev1/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Sérgio Nogueira -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://github.com/SergioCodeProjects.png"
                alt="Sérgio Nogueira"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Sérgio Nogueira</span>
            </div>
            <hr />
            <p class="text-dark">Pesquisa <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/sergio-luciano-nogueira-analistabi/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/SergioCodeProjects"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-github pe-2"></i>GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Suzana Santos Sousa de Matos -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://github.com/suzanacomz.png"
                alt="Suzana Santos Sousa de Matos"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Suzana S. Sousa de Matos</span>
            </div>
            <hr />
            <p class="text-dark">Gestão <br />Engenharia de Software</p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/engsuzanamatos/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/suzanacomz"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-github pe-2"></i>GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--  Víctor Cesar da Rocha Bastos -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://media.licdn.com/dms/image/v2/D4D03AQFOuGuglu8vaA/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1695082157395?e=1756339200&v=beta&t=3GGFdTDU1uV0qK_TBhqXDIDG1nu5fo7Cx8q6nNi0yOk"
                alt="Víctor Cesar da Rocha Bastos"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0"> Víctor C. da Rocha Bastos</span>
            </div>
            <hr />
            <p class="text-dark">Desing <br />Engenharia de Software</p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/victorcesarbastos/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/victorcsar"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-github pe-2"></i>GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Vinícius de Alencar dos Reis -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="https://media.licdn.com/dms/image/v2/D4D35AQGddEEnJWL5uQ/profile-framedphoto-shrink_400_400/B4DZdAiNujGYAc-/0/1749134400716?e=1754319600&v=beta&t=R5bEPnhQevNIhzQwUOB8yw96sRAtobseoMH7ShRQUrI"
                alt="Vinícius de Alencar dos Reis"
                style="max-width: 5rem; border-radius: 0.25rem"
              />
              <span class="fw-bold fs-5 mb-0">Vinícius A. dos Reis</span>
            </div>
            <hr />
            <p class="text-dark">Desing <br />Engenharia de Software</p>
            <div class="d-flex gap-3 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/vin%C3%ADcius-de-alencar-dos-reis-3b4ba1a1/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  <i class="bi bi-linkedin pe-2"></i>LinkedIn</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
