<section class="py-0">
  <div class="container">
    <h2 class="text-center font-titulo fs-3 fw-bold">
      Conheça cada um de nós!
    </h2>

    <div class="row justify-content-center px-2 py-4">
      <!-- Alberto Lima -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/alberto.png"
                alt="Alberto"
                style="max-width: 5rem"
              />
              <span class="fw-bold fs-5 mb-0">Alberto Lima da Silva</span>
            </div>
            <hr />
            <p class="text-dark">
              Desenvolvimento <br />Engenharia de Software
            </p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
              <!-- <div class="text-center mt-3">
                <span class="btn saiba-mais-botao">YouTube</span>
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <!-- Alridenio Marques -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem"
              />
              <span class="fw-bold fs-5 mb-0">Alridenio Marques Xavier</span>
            </div>
            <hr />
            <p class="text-dark">Pesquisa <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href=""
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href=""
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Alvaro Lemos -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem"
              />
              <span class="fw-bold fs-5 mb-0">Alvaro Lemos De Melo</span>
            </div>
            <hr />
            <p class="text-dark">
              Desenvolvimento <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Amanda Sampaio -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem"
              />
              <span class="fw-bold fs-5 mb-0">Amanda S. Rodrigues</span>
            </div>
            <hr />
            <p class="text-dark">
              Documentação<br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Alridenio Marques -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem"
              />
              <span class="fw-bold fs-5 mb-0">Alridenio Marques Xavier</span>
            </div>
            <hr />
            <p class="text-dark">Pesquisa <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Antônio Paulo -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem"
              />
              <span class="fw-bold fs-5 mb-0">Antônio G. S. Ribeiro</span>
            </div>
            <hr />
            <p class="text-dark">
              Documentação <br />Análise e Des. de Sistemas
            </p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Aylan de Sousa -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem"
              />
              <span class="fw-bold fs-5 mb-0">Aylan de Sousa Moura</span>
            </div>
            <hr />
            <p class="text-dark">Desing <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Alvaro Lemos -->
      <div class="col-12 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div class="card clickable-card">
          <div class="card-body">
            <div
              class="d-flex flex-md-column justify-content-center align-items-center gap-2 mb-3 card-titulo"
            >
              <img
                src="../assets/time/gato.png"
                alt="Alberto"
                style="max-width: 5rem"
              />
              <span class="fw-bold fs-5 mb-0">Bradeley V. S. Matias</span>
            </div>
            <hr />
            <p class="text-dark">Pesquisa <br />Análise e Des. de Sistemas</p>
            <div class="d-flex gap-2 justify-content-center">
              <div class="text-center">
                <a
                  href="https://www.linkedin.com/in/alberto-lima-347a8926b/"
                  target="_blank"
                  aria-label="Abrir LinkedIn"
                  class="btn saiba-mais-botao"
                >
                  LinkedIn</a
                >
              </div>
              <div class="text-center">
                <a
                  href="https://github.com/albertobtlima"
                  target="_blank"
                  aria-label="Abrir GitHub"
                  class="btn saiba-mais-botao"
                >
                  GitHub</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
