<section class="mt-2">
  <h2 class="text-center font-titulo fs-1">Histórias de Transformação</h2>
  <p class="text-center mb-4">
    Depoimentos reais de famílias que encontraram acolhimento, cuidado e
    esperança no Lar do Benjamim.
  </p>

  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 video-col">
        <div class="video-wrapper">
          <iframe
            src="https://www.youtube.com/embed/R4CJRp28IRU?si=zCkO-g44s3oOtT42"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="col-12 col-md-6 video-col">
        <div class="video-wrapper">
          <iframe
            src="https://www.youtube.com/embed/uReYMsqFDMI?si=fajulrMBFLeUGET7"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
