<section class="doacao-container my-5">
  <div class="doacao-texto">
    <h2 class="font-titulo fs-1 mb-5">O Lar do Benjamim</h2>
    <p>
      Somos uma organização sem fins lucrativos, dedicada à promoção da saúde,
      educação e inclusão social de crianças e adolescentes com autismo.
    </p>
    <p>
      A melhor forma de mantermos o nosso bom trabalho é através de doações.
      <a href="../pages/contato.html">AJUDE</a> o Lar do Benjamim a ajudar quem
      precisa.
    </p>
  </div>
  <div>
    <img src="../assets/imagens/img-doacao-1.png" alt="" />
  </div>
</section>
