<section class="doacao-container my-3 py-3">
  <div class="container px-md-5 w-ld-75">
    <div class="row align-items-center px-md-5">
      <div class="col-md-6 mb-4 mb-md-0">
        <h2 class="font-titulo fs-1 mb-4 fw-bold">O Lar do Benjamim</h2>
        <p>
          Somos uma organização sem fins lucrativos, dedicada à promoção da
          saúde, educação e inclusão social de crianças e adolescentescom
          transtorno de neurodesenvolvimento.
        </p>
        <p>
          A melhor forma de mantermos o nosso bom trabalho é através de doações.
        </p>
        <div class="text-center text-md-start">
          <a
            href="../pages/doador.html"
            class="btn btn-primary mt-1 botao-destaque"
          >
            Ajude o Lar do Benjamim
          </a>
        </div>
      </div>
      <div
        class="col-md-6 d-flex justify-content-center justify-content-md-end"
      >
        <img
          src="../assets/imagens/img-doacao.png"
          alt=""
          class="img-fluid rounded"
        />
      </div>
    </div>
  </div>
</section>
