<footer>
  <section class="container p-4 pb-0 d-flex">
    <div>
      <div class="d-flex mt-5">
        <img
          style="max-width: 60px"
          src="../assets/imagens/logo-4.png"
          alt=""
        />
        <p>
          <span>Fale com a gente!</span><br />
          Estamos por aqui pra tirar dúvidas, receber sugestões ou só ouvir
          você.
        </p>
      </div>
    </div>
    <div>
      <div class="d-flex-column justify-content-center gap-3 mb-0 mt-5">
        <h4>Acesse as nossas redes:</h4>
        <div>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="btn"
            aria-label="Abrir conversa no WhatsApp com Lar do Benjamim"
          >
            <i class="bi bi-whatsapp fs-4"></i>
          </a>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="btn"
            aria-label="Abrir Instagram de Lar do Benjamim"
          >
            <i class="bi bi-instagram fs-4"></i>
          </a>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="btn"
            aria-label="Abrir Facebook de Lar do Benjamim"
          >
            <i class="bi bi-facebook fs-4"></i>
          </a>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="btn"
            aria-label="Enviar um e-mail para Lar do Benjamim"
          >
            <i class="bi bi-envelope-at fs-4"></i>
          </a>
        </div>
      </div>
      <div class="p-0 mt-3">
        <a
          href="#!"
          rel="noopener noreferrer"
          aria-label="Ir para o site da BT Technology"
        >
          <img
            style="max-width: 60px"
            src="../assets/imagens/logo-bt.png"
            alt="Logo BT Technology"
          />
        </a>
        | 2025 <i class="bi bi-c-circle"></i> Desenvolvido por Alberto
      </div>
    </div>
  </section>
</footer>
