<footer class="text-center">
  <section class="container p-4 pb-0">
    <div class="d-flex justify-content-center gap-3 mb-0">
      <a
        href="https://wa.me/5511963094998?text=Olá!%20Gostaria%20de%20fazer%20uma%20encomenda."
        target="_blank"
        rel="noopener noreferrer"
        class="btn"
        aria-label="Abrir conversa no WhatsApp com Diu Cakes"
      >
        <i class="bi bi-whatsapp fs-4"></i>
      </a>
      <a
        href="https://www.instagram.com/diu.cakes?igsh=MTZraHM1dWliMmZ0Zg%3D%3D&utm_source=qr"
        target="_blank"
        rel="noopener noreferrer"
        class="btn"
        aria-label="Abrir Instagram de Diu Cakes"
      >
        <i class="bi bi-instagram fs-4"></i>
      </a>
      <a
        href="https://www.facebook.com/people/Diu-Cakes/61577106560138/?mibextid=wwXIfr&rdid=vC9ya6keyX7JdYPd&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1C4QGp6z1e%2F%3Fmibextid%3DwwXIfr"
        target="_blank"
        rel="noopener noreferrer"
        class="btn"
        aria-label="Abrir Facebook de Diu Cakes"
      >
        <i class="bi bi-facebook fs-4"></i>
      </a>
      <a
        href="mailto:diu.cakes@outlook.com?subject=Pedido%20de%20encomenda&body=Olá,%20gostaria%20de%20fazer%20uma%20encomenda..."
        target="_blank"
        rel="noopener noreferrer"
        class="btn"
        aria-label="Enviar um e-mail para Diu Cakes"
      >
        <i class="bi bi-envelope-at fs-4"></i>
      </a>
    </div>
    <div class="p-0">
      <a
        href="#!"
        rel="noopener noreferrer"
        aria-label="Ir para o site da BT Technology"
      >
        <img
          style="max-width: 60px"
          src="../assets/imagens/logo-bt.png"
          alt="Logo BT Technology"
        />
      </a>
      | 2025 <i class="bi bi-c-circle"></i> Desenvolvido por Alberto
    </div>
  </section>
</footer>
