<header>
  <nav class="navbar navbar-expand-lg navbar-color">
    <div class="container-fluid px-md-5">
      <a
        id="site-logo"
        class="navbar-brand d-flex align-items-center font-titulo"
        href="../index.html"
      >
        <img src="../assets/imagens/logo-3.png" alt="Logo Diu Cakes" />
      </a>

      <!-- Botão hamburger -->
      <button
        class="navbar-toggler custom-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="toggler-icon top-bar"></span>
        <span class="toggler-icon middle-bar"></span>
        <span class="toggler-icon bottom-bar"></span>
      </button>

      <!-- Menu -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link fs-4" aria-current="page" href="../index.html"
              >Início</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link fs-4" href="../pages/sobre.html">Sobre</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link fs-4" href="../pages/voluntario-2.html"
              >Voluntário</a
            >
          </li> -->
          <li class="nav-item">
            <a class="nav-link fs-4" href="../pages/contato.html">Contato</a>
          </li>
          <li class="nav-item nav-item__doador">
            <a class="nav-link fs-4 fw-bold" href="../pages/doador.html"
              >Seja doador</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
