<!-- Modal video 1 -->
<div
  class="modal fade"
  id="modal-video-1"
  tabindex="-1"
  aria-labelledby="video 1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-3 font-titulo" id="titulo-video-1">
          Depoimento
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="ratio ratio-16x9">
          <iframe
            src="https://www.youtube.com/embed/57m-RBhpe0A?si=ZwN0NtHFOXrTuhG2"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal video 2 -->
<div
  class="modal fade"
  id="modal-video-2"
  tabindex="-1"
  aria-labelledby="video 2"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-3 font-titulo" id="titulo-video-2">
          Blenda Kelly
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="ratio ratio-16x9">
          <iframe
            src="https://www.youtube.com/embed/Srk02uH3wFQ?si=gZOX51kiyslcagqk"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal video 3 -->
<div
  class="modal fade"
  id="modal-video-3"
  tabindex="-1"
  aria-labelledby="video 3"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-3 font-titulo" id="titulo-video-2">
          Depoimento
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="ratio ratio-16x9">
          <iframe
            src="https://www.youtube.com/embed/Q8_Tbz6paHM?si=XU_1MsaD2PVHvx89"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal video 4 -->
<div
  class="modal fade"
  id="modal-video-4"
  tabindex="-1"
  aria-labelledby="video 4"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-3 font-titulo" id="titulo-video-2">
          Depoimento
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="ratio ratio-16x9">
          <iframe
            src="https://www.youtube.com/embed/C5uyUjRvdbE?si=nQvob3aAdEaHcjxA"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
