<!-- Modal serviço 1 -->
<div
  class="modal fade"
  id="modal-servico-1"
  tabindex="-1"
  aria-labelledby="titulo-servico-1"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-4 font-titulo fw-bold" id="titulo-servico-1">
          Terapias que Cuidam com Amor
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="mx-auto mb-3 d-block"
          src="../assets/imagens/card-servico-1.png"
          alt="Um homen e duas crianças"
          style="border-radius: 0.5rem; width: 20rem"
        />
        <p>
          Oferecemos terapias complementares para crianças com transtornos do
          neurodesenvolvimento, incluindo atendimentos em psicologia,
          fonoaudiologia, fisioterapia, terapia ocupacional, serviço social,
          entre outros.
        </p>
        <p>
          Nosso objetivo é promover o desenvolvimento integral das crianças em
          um ambiente acolhedor e humanizado.
        </p>
        <div class="text-center mt-3">
          <a
            href="https://drive.google.com/file/d/18k2WxfbBHOi3JCwIb0CXhKUTQtyFJM8z/view?usp=sharing"
            target="_blank"
            rel="noopener noreferrer"
            class="btn d-flex align-items-center justify-content-center gap-3"
            aria-label="Formulário"
            ><span class="saiba-mais-botao">Formulário</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal serviço 2 -->
<div
  class="modal fade"
  id="modal-servico-2"
  tabindex="-1"
  aria-labelledby="titulo-servico-2"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-4 font-titulo fw-bold" id="titulo-servico-2">
          Cuidado para Quem Cuida
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="mx-auto mb-3 d-block"
          src="../assets/imagens/card-servico-2.png"
          alt="Diversas pessoas em uma escada"
          style="border-radius: 0.5rem; width: 20rem"
        />
        <p>
          Oferecemos atendimento psicológico e massoterapia para as mães das
          crianças atendidas, promovendo acolhimento, alívio emocional e
          bem-estar.
        </p>
        <p>
          Um momento de pausa e fortalecimento para quem dedica tanto amor no
          dia a dia.
        </p>
        <div class="text-center mt-3">
          <a
            href="https://drive.google.com/file/d/1wUeVUO0KYicWOUHL_j8d7q1GzbljFzBs/view?usp=sharing"
            target="_blank"
            rel="noopener noreferrer"
            class="btn d-flex align-items-center justify-content-center gap-3"
            aria-label="Formulário"
            ><span class="saiba-mais-botao">Formulário</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal serviço 3 -->
<div
  class="modal fade"
  id="modal-servico-3"
  tabindex="-1"
  aria-labelledby="titulo-servico-3"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-4 font-titulo fw-bold" id="titulo-servico-3">
          Apoio para Toda a Família
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="mx-auto mb-3 d-block"
          src="../assets/imagens/card-servico-3.png"
          alt="Varias pessoas em reunião"
          style="border-radius: 0.5rem; width: 20rem"
        />
        <p>
          Oferecemos terapia em grupo para os demais membros do núcleo familiar
          das crianças atendidas, promovendo escuta, acolhimento e
          fortalecimento emocional.
        </p>
        <p>
          Um espaço seguro para compartilhar vivências, trocar experiências e
          construir redes de apoio entre famílias que enfrentam desafios
          semelhantes.
        </p>
      </div>
    </div>
  </div>
</div>
