<!-- Modal doador 1 -->
<div
  class="modal fade"
  id="modal-doador-1"
  tabindex="-1"
  aria-labelledby="titulo-servico-1"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-3 font-titulo" id="titulo-servico-1">
          Compre e Apoie
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Ao adquirir nosso material psicopedagógico digital, você contribui
          diretamente para o desenvolvimento de crianças com transtornos do
          neurodesenvolvimento e ainda apoia o Lar do Benjamim a manter seus
          atendimentos gratuitos.
        </p>
        <p>
          O material foi cuidadosamente elaborado para estimular coordenação
          motora fina, atenção, percepção visual e outras habilidades essenciais
          no processo de aprendizagem.
        </p>
        <div class="text-center mt-3">
          <a
            href="#"
            target=""
            rel="noopener noreferrer"
            class="btn d-flex align-items-center justify-content-center gap-3"
            aria-label="Baixar formulário"
            ><span class="saiba-mais-botao">Comprar</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal doador 2 -->
<div
  class="modal fade"
  id="modal-doador-2"
  tabindex="-1"
  aria-labelledby="titulo-servico-2"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-3 font-titulo" id="titulo-servico-2">
          Doe Objetos e Materiais
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Você também pode apoiar o Lar do Benjamim doando materiais e objetos
          que ajudam no dia a dia das nossas atividades. Aceitamos itens como:
        </p>
        <ul>
          <li>Materiais pedagógicos e de papelaria</li>
          <li>Brinquedos educativos</li>
          <li>Produtos de higiene e limpeza</li>
          <li>Alimentos não perecíveis</li>
          <li>Equipamentos terapêuticos ou mobiliário</li>
          <li>Materiais de construção</li>
          <li>Roupas para bazar</li>
          <li>Eletrodomésticos e eletroportáteis</li>
        </ul>
        <div class="text-center mt-3">
          <a
            href="#"
            target=""
            rel="noopener noreferrer"
            class="btn d-flex align-items-center justify-content-center gap-3"
            aria-label="Baixar formulário"
            ><span class="saiba-mais-botao">WhatsApp</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal doador 3 -->
<div
  class="modal fade"
  id="modal-doador-3"
  tabindex="-1"
  aria-labelledby="titulo-servico-3"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-3 font-titulo" id="titulo-servico-3">
          Compartilhe seu Talento
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Aqui, sua dedicação se transforma em impacto real. Junte-se a nós e
          ajude a construir um futuro mais justo e solidário! Estamos de portas
          abertas para quem deseja fazer a diferença!
        </p>
        <p>
          Se você tem vontade de contribuir com causas sociais, desenvolver
          habilidades e transformar realidades, venha com a gente!
        </p>
        <p>Aceitamos:</p>
        <ul>
          <li>Voluntários de todas as áreas</li>
          <li>
            Estágio voluntário para estudantes que buscam experiência prática
          </li>
          <li>
            Aplicação de projetos de extensão em parceria com instituições de
            ensino
          </li>
        </ul>
        <div class="text-center mt-3">
          <a
            href="#"
            target=""
            rel="noopener noreferrer"
            class="btn d-flex align-items-center justify-content-center gap-3"
            aria-label="Baixar formulário"
            ><span class="saiba-mais-botao">Formulário</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
