<!-- Modal t1 -->
<div
  class="modal fade"
  id="modal-t1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Chocolate
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/chocolate.png"
          alt="Bolo de Chocolate"
        />
        <!-- <p>
          Tradicional bolo de chocolate fofinho com cobertura de brigadeiro de
          chocolate.
        </p> -->
        <p>
          Um clássico que nunca decepciona! Bolo de chocolate super fofinho com
          uma camada generosa de brigadeiro caseiro — pura felicidade em cada
          fatia.
        </p>
        <p>
          <strong>Ingredientes:</strong> Farinha de trigo, ovos, óleo, chocolate
          em pó, fermento químico e leite condensado (na cobertura).
        </p>
        <p>
          *Opção para intolerantes à lactose : substituindo a cobertura por
          calda sem adição de leite.
        </p>
        <div class="text-center mt-3">
          <a
            href="https://wa.me/5511963094998?text=Olá!%20Gostaria%20de%20fazer%20uma%20encomenda."
            target="_blank"
            rel="noopener noreferrer"
            class="btn d-flex align-items-center justify-content-center gap-3"
            aria-label="Abrir conversa no WhatsApp com Diu Cakes"
            ><span class="saiba-mais-botao">Encomendar</span></a
          >
        </div>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$20,00</p>
          <p class="fw-bold precos m-0">M - R$40,00</p>
          <p class="fw-bold precos m-0">G - R$53,00</p>
        </div>
        <div class="d-flex justify-content-around">
          <p class="rende m-0">Rende:</p>
          <p class="rende m-0">6 fatias</p>
          <p class="rende m-0">10 fatias</p>
          <p class="rende m-0">15 fatias</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal t2 -->
<div
  class="modal fade"
  id="modal-t2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Churros
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/churros.png"
          alt="Bolo de Chorros"
        />
        <!-- <p>
          Delicioso bolo com massa de canela e uma maravilhosa camada de doce de
          leite para cobrir essa doçura.
        </p> -->
        <p>
          Uma explosão de sabor! Massa macia com toque de canela e uma cobertura
          irresistível de doce de leite — o sabor do churros que a gente ama,
          agora em forma de bolo.
        </p>
        <p>
          <strong>Ingredientes:</strong> Farinha de trigo, ovos, óleo, leite,
          açucar refinado, canela em pó, fermento químico e leite condensado.
        </p>
        <div class="text-center mt-3">
          <a
            href="https://wa.me/5511963094998?text=Olá!%20Gostaria%20de%20fazer%20uma%20encomenda."
            target="_blank"
            rel="noopener noreferrer"
            class="btn d-flex align-items-center justify-content-center gap-3"
            aria-label="Abrir conversa no WhatsApp com Diu Cakes"
            ><span class="saiba-mais-botao">Encomendar</span></a
          >
        </div>
        <hr />
        <div class="d-flex justify-content-around">
          <div>
            <p class="fw-bold precos m-0">Preços:</p>
            <p class="rende m-0">Rende:</p>
          </div>
          <div>
            <p class="fw-bold precos m-0">P - R$20,00</p>
            <p class="rende m-0">6 fatias</p>
          </div>
          <div>
            <p class="fw-bold precos m-0">M - R$40,00</p>
            <p class="rende m-0">10 fatias</p>
          </div>
          <div>
            <p class="fw-bold precos m-0">G - R$53,00</p>
            <p class="rende m-0">15 fatias</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal t3 -->
<div
  class="modal fade"
  id="modal-t3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Maçã com Canela
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/maca-canela.png"
          alt="Bolo de Maçã com Canela"
        />
        <!-- <p>
          Massa de Canela com pedaços de Maçã e cobertura de açúcar e canela
        </p> -->
        <p>
          Um cheirinho de aconchego no ar! Massa de canela com pedacinhos de
          maçã e finalizada com uma delicada cobertura de açúcar e canela. Um
          sabor que abraça!
        </p>
        <p>
          <strong>Ingredientes:</strong> Farinha de trigo, ovos, óleo, leite,
          fatias de maçã, canela em pó, fermento químico.
        </p>
        <div class="text-center mt-3">
          <a
            href="https://wa.me/5511963094998?text=Olá!%20Gostaria%20de%20fazer%20uma%20encomenda."
            target="_blank"
            rel="noopener noreferrer"
            class="btn d-flex align-items-center justify-content-center gap-3"
            aria-label="Abrir conversa no WhatsApp com Diu Cakes"
            ><span class="saiba-mais-botao">Encomendar</span></a
          >
        </div>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$20,00</p>
          <p class="fw-bold precos m-0">M - R$40,00</p>
          <p class="fw-bold precos m-0">G - R$53,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal t4 -->
<div
  class="modal fade"
  id="modal-t4"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Limão
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/limao.png"
          alt="Bolo de Limão"
        />
        <!-- <p>
          Massa leve e saborosa de limão com cobertura de um maravilhoso mousse
          de limão.
        </p> -->
        <p>
          Refrescante e cheio de sabor! Massa leve com um toque cítrico e uma
          cobertura de mousse de limão que derrete na boca. Um bolo perfeito pra
          quem ama aquele azedinho equilibrado.
        </p>
        <p>
          <strong>Ingredientes:</strong> Farinha de trigo, ovos, óleo, leite,
          açúcar refinado, limão, fermento químico, raspas de limão e leite
          condensado
        </p>
        <div class="text-center mt-3">
          <a
            href="https://wa.me/5511963094998?text=Olá!%20Gostaria%20de%20fazer%20uma%20encomenda."
            target="_blank"
            rel="noopener noreferrer"
            class="btn d-flex align-items-center justify-content-center gap-3"
            aria-label="Abrir conversa no WhatsApp com Diu Cakes"
            ><span class="saiba-mais-botao">Encomendar</span></a
          >
        </div>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$20,00</p>
          <p class="fw-bold precos m-0">M - R$40,00</p>
          <p class="fw-bold precos m-0">G - R$53,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal t5 -->
<div
  class="modal fade"
  id="modal-t5"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Paçoca
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/pacoca.png"
          alt="Bolo de Paçoca"
        />
        <!-- <p>
          Massa de paçoca com um leve toque de canela e cobertura de brigadeiro
          de paçoca.
        </p> -->
        <p>
          O sabor da roça com um toque especial! Bolo de paçoca com um toque
          suave de canela, finalizado com uma deliciosa cobertura de brigadeiro
          de paçoca. Uma verdadeira tentação!
        </p>
        <p>
          <strong>Ingredientes:</strong> Farinha de trigo, ovos, óleo, leite,
          açúcar refinado, canela, fermento químico, paçoca e leite condensado
        </p>
        <div class="text-center mt-3">
          <a
            href="https://wa.me/5511963094998?text=Olá!%20Gostaria%20de%20fazer%20uma%20encomenda."
            target="_blank"
            rel="noopener noreferrer"
            class="btn d-flex align-items-center justify-content-center gap-3"
            aria-label="Abrir conversa no WhatsApp com Diu Cakes"
            ><span class="saiba-mais-botao">Encomendar</span></a
          >
        </div>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$20,00</p>
          <p class="fw-bold precos m-0">M - R$40,00</p>
          <p class="fw-bold precos m-0">G - R$53,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal t6 -->
<div
  class="modal fade"
  id="modal-t6"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Cocada
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/cocada.png"
          alt="Bolo de Cocada"
        />
        <!-- <p>
          Maravilhosa massa de coco com camada de cocada para coroar essa
          delicia.
        </p> -->
        <p>
          Se você ama coco, esse bolo é pra você! Massa macia com leite de coco
          e uma camada generosa de cocada cremosa por cima. Um pedacinho do
          paraíso tropical.
        </p>
        <p>
          <strong>Ingredientes:</strong> Farinha de trigo, ovos, óleo, leite de
          Coco, fermento químico, açúcar refinado e coco ralado.
        </p>
        <p>*Opção para intolerantes à lactose</p>
        <div class="text-center mt-3">
          <a
            href="https://wa.me/5511963094998?text=Olá!%20Gostaria%20de%20fazer%20uma%20encomenda."
            target="_blank"
            rel="noopener noreferrer"
            class="btn d-flex align-items-center justify-content-center gap-3"
            aria-label="Abrir conversa no WhatsApp com Diu Cakes"
            ><span class="saiba-mais-botao">Encomendar</span></a
          >
        </div>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$20,00</p>
          <p class="fw-bold precos m-0">M - R$40,00</p>
          <p class="fw-bold precos m-0">G - R$53,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal t7 -->
<div
  class="modal fade"
  id="modal-t7"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-1 font-titulo" id="exampleModalLabel">
          Cenoura com Chocolate
        </h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img
          class="w-50 mx-auto d-block"
          src="../assets/bolos-tradicionais/cenoura-chocolate.png"
          alt="Bolo de Cenoura com Chocolate"
        />
        <!-- <p>
          Tradicional bolo de cenoura com uma surpreendente cobertura de
          brigadeiro de chocolate.
        </p> -->
        <p>
          Um dos queridinhos de todos os tempos! Massa fofinha de cenoura com
          uma cobertura de brigadeiro que faz qualquer um se render. Um clássico
          brasileiro, sempre delicioso!
        </p>
        <p>
          <strong>Ingredientes:</strong> Farinha de trigo, ovos, óleo,leite,
          açúcar refinado, cenoura, fermento químico, leite condensado e
          chocolate em pó.
        </p>
        <p>
          *Opção para intolerantes à lactose: substituindo a cobertura por calda
          sem adição de leite.
        </p>
        <div class="text-center mt-3">
          <a
            href="https://wa.me/5511963094998?text=Olá!%20Gostaria%20de%20fazer%20uma%20encomenda."
            target="_blank"
            rel="noopener noreferrer"
            class="btn d-flex align-items-center justify-content-center gap-3"
            aria-label="Abrir conversa no WhatsApp com Diu Cakes"
            ><span class="saiba-mais-botao">Encomendar</span></a
          >
        </div>
        <hr />
        <div class="d-flex justify-content-around">
          <p class="fw-bold precos m-0">Preços:</p>
          <p class="fw-bold precos m-0">P - R$20,00</p>
          <p class="fw-bold precos m-0">M - R$40,00</p>
          <p class="fw-bold precos m-0">G - R$53,00</p>
        </div>
      </div>
    </div>
  </div>
</div>
