<!-- Modal video 1 -->
<div
  class="modal fade"
  id="modal-video-1"
  tabindex="-1"
  aria-labelledby="video 1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-1 font-titulo" id="titulo-video-1">
          Depoimento de Famíliar
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="ratio ratio-16x9">
          <iframe
            src="https://www.youtube.com/embed/Q8_Tbz6paHM?si=FaqzYwx5-pmTX5eB"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal video 2 -->
<div
  class="modal fade"
  id="modal-video-2"
  tabindex="-1"
  aria-labelledby="video 1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-1 font-titulo" id="titulo-video-2">
          Depoimento de Famíliar
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="ratio ratio-16x9">
          <iframe
            src="https://www.youtube.com/embed/C5uyUjRvdbE?si=TbIj6j4jEXvFpZen"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
