<section>
  <h2 class="text-center my-3 my-xl-5 font-titulo fs-1">Serviços</h2>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-t1"
        >
          <img
            class="card-img-top mx-auto mt-3 d-block"
            src="../assets/imagens/img-servico-1.png"
            alt=""
            style="width: 9rem"
          />
          <div class="card-body">
            <h5 class="card-title font-titulo text-center fs-2">Título</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
              euismod, nisl vel tincidunt
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-t2"
        >
          <img
            class="card-img-top mx-auto mt-3 d-block"
            src="../assets/imagens/img-servico-2.png"
            alt="Bolo de Churros"
            style="width: 9rem"
          />
          <div class="card-body">
            <h5 class="card-title font-titulo text-center fs-2">Título</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
              euismod, nisl vel tincidunt
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4 px-1 px-md-3">
        <div
          class="card clickable-card"
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#modal-t3"
        >
          <img
            class="card-img-top mx-auto mt-3 d-block"
            src="../assets/imagens/img-servico-3.png"
            alt="Bolo de Maçã com Canela"
            style="width: 9rem"
          />
          <div class="card-body">
            <h5 class="card-title font-titulo text-center fs-2">Título</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
              euismod, nisl vel tincidunt
            </p>
            <div class="text-center mt-3">
              <span class="saiba-mais-botao">Saiba Mais</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
