/* Variáveis */
:root {
  --azul: #b6d8ed;
  --azul-claro: #f2f9ff;
  --azul-escuro: #1f5bcb;
  --font-titulo: "Open Sans", sans-serif;
}

/* Reset e base */

body {
  font-family: "Open Sans", sans-serif;
  color: #000000;
  background: linear-gradient(
    to right,
    rgba(0, 53, 128, 0.09),
    rgba(0, 17, 128, 0.01)
  );
}

/* Header e navbar */

.navbar-color {
  background-color: var(--azul-claro) !important;
}

.nav-item .nav-link {
  background-color: transparent;
  border-radius: 15px;
  transition: 0.3s ease;
}

.navbar-color .nav-link,
.navbar-color .navbar-brand,
.navbar-color .offcanvas-title {
  color: #000000 !important;
}

.nav-link:hover {
  color: #ffffff !important;
  font-weight: bold;
  background-color: var(--azul-escuro);
  border-radius: 15px;
}

.navbar-brand img {
  height: 60px;
  width: auto;
}

.font-titulo {
  font-family: var(--font-titulo);
  color: var(--azul-escuro);
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* Doação */
.doacao-container {
  padding: 3rem 0;
  border-radius: 1rem;
}

.doacao-container .doacao-texto {
  max-width: 500px;
}

.doacao-container .doacao-texto a {
  color: #ffffff;
  font-weight: bold;
  background-color: var(--azul-escuro);
  padding: 0.2rem 1rem;
  border-radius: 10px;
  text-decoration: none;
}

/* Cards */

.clickable-card {
  margin-bottom: 1.5rem;
}

.card[data-bs-toggle="modal"] {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card[data-bs-toggle="modal"]:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Depoimentos */

.video-wrapper {
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: 15px;
  overflow: hidden; /* <- ESSENCIAL */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.video-col {
  margin-bottom: 2rem;
}

/*
.iphone-frame {
  position: relative;
}

.iphone-frame iframe {
  position: absolute;
  top: 25%;  ajuste vertical da tela do iPhone 
  left: 23%;  ajuste horizontal da tela do iPhone 
  width: 38%;
  height: 49%;
  z-index: 1;
}

.iphone-video-wrapper {
  position: absolute;
  width: 450px;
  max-width: 100%;
  margin: 0 auto 2rem;
}

.iphone-video iframe {
  width: 100%;
  height: 100%;
}
*/

/* Footer */

footer {
  background-color: var(--marrom-claro);
}

footer a {
  text-decoration: none;
}

section a i:hover {
  color: var(--roxo-escuro);
}

/* Contato */

ul li a.btn {
  color: #000000;
  transition: color 0.3s ease;
}

ul li a.btn:hover {
  color: var(--roxo-escuro) !important;
}

/* Saiba mais */

.saiba-mais-botao {
  display: inline-block;
  padding: 0.3rem 0.75rem;
  background-color: #f8f9fa;
  color: var(--azul-escuro);
  border: 1px solid var(--azul-escuro);
  border-radius: 0.25rem;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.saiba-mais-botao:hover {
  background-color: var(--azul-escuro);
  color: white;
}

/* Botão hamburger */

.custom-toggler {
  border: none;
  padding: 0.25rem;
  position: relative;
  z-index: 1031;
}

.toggler-icon {
  display: block;
  width: 24px;
  height: 2px;
  margin: 5px auto;
  background-color: #333;
  transition: all 0.3s ease;
}

.custom-toggler.collapsed .top-bar {
  transform: rotate(0deg) translateY(0);
}

.custom-toggler:not(.collapsed) .top-bar {
  transform: rotate(45deg) translateY(9px);
}

.custom-toggler.collapsed .middle-bar {
  opacity: 1;
}

.custom-toggler:not(.collapsed) .middle-bar {
  opacity: 0;
}

.custom-toggler.collapsed .bottom-bar {
  transform: rotate(0deg) translateY(0);
}

.custom-toggler:not(.collapsed) .bottom-bar {
  transform: rotate(-45deg) translateY(-9px);
}

/* Media query */

@media (min-width: 992px) {
  .texto-grande-desktop {
    font-size: 1.25rem; /* ou maior, ex: 1.5rem */
  }
}

@media (min-width: 768px) {
  .video-col:not(:last-child) {
    padding-right: 1rem;
  }
  .video-col:last-child {
    padding-left: 1rem;
  }
}
